In [1]:
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete_df=pd.DataFrame(school_data_complete)
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
renamed_df=school_data_complete_df.rename(columns={"student_name":"Student Name","gender":"Gender","grade":"Grade","school_name":"School Name","reading_score":"Reading Score","math_score":"Math Score","type":"Type","size":"Size","budget":"Budget"})

school_data_renamed=renamed_df[["Student ID","Student Name","Gender","Grade","Reading Score","Math Score","School Name","School ID","Type","Size","Budget"]]

school_data_renamed.head()

,Student ID,Student Name,Gender,Grade,Reading Score,Math Score,School Name,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,66,79,Huang High School,0,District,2917,1910635
1,1,Victor Smith,M,12th,94,61,Huang High School,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,90,60,Huang High School,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,67,58,Huang High School,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,97,84,Huang High School,0,District,2917,1910635

In [12]:
#District Summary

#Create a high level snapshot (in table form) of the district's key metrics, including:

#Total Schools

total_schools=len(school_data_renamed["School Name"].unique())


#Total Students

total_students=len(school_data_renamed["Student Name"])

#Total Budget

total_budget=school_data["budget"].sum()


#Average Math Score

avg_math_score=round(school_data_renamed["Math Score"].mean(),2)

#Average Reading Score

avg_read_score=round(school_data_renamed["Reading Score"].mean(),2)

#% Passing Math (The percentage of students that passed math.)


pass_math=school_data_renamed.loc[school_data_renamed["Math Score"] >= 70,:]

num_pass_math=len(pass_math)

perc_pass_math=num_pass_math/total_students*100



#% Passing Reading (The percentage of students that passed reading.)

pass_read=school_data_renamed.loc[school_data_renamed["Reading Score"] >= 70,:]

num_pass_read=len(pass_read)

perc_pass_read=num_pass_read/total_students*100

perc_pass_read

#% Overall Passing (The percentage of students that passed math and reading.)

pass_overall=school_data_renamed.loc[(school_data_renamed["Math Score"] >= 70) & (school_data_renamed["Reading Score"] >= 70), :]
num_pass_overall=len(pass_overall)
perc_overall_pass=num_pass_overall/total_students*100




district_summary_df=pd.DataFrame({"Total Schools":[total_schools],
                            "Total Students":total_students,
                            "Total Budget":total_budget,
                            "Average Math Score":avg_math_score,
                           "Average Reading Score":avg_read_score,
                            "% Passing Math":perc_pass_math,
                            "% Passing Reading":perc_pass_read,
                            "% Overall Passing":perc_overall_pass})


district_summary_df["Total Budget"]=district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["% Passing Math"]=district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"]=district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Overall Passing"]=district_summary_df["% Overall Passing"].map("{:.2f}%".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [24]:
#School Summary

#Create an overview table that summarizes key metrics about each school, including:

#School Name
list_of_schools=school_data_renamed["School Name"].value_counts()

#School Type

school_type=school_data_renamed["Type"].value_counts()

#Total Students

total_students_school=school_data_renamed["Size"]


#Total School Budget

total_school_budget=school_data_renamed["Budget"]


#Per Student Budget

per_student_budget=total_school_budget/total_students_school



#Average Math Score

#avg_math_school=

#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)


#school_summary_df=school_data_renamed.groupby([list_of_schools])

#school_summary_df.head(20)


#school_summary_df=pd.DataFrame({"School":list_of_schools,
                                      #"Type":school_type,
                                      #"Students":total_students_school})

#school_summary_df


school_summary_df=school_data_renamed.groupby(["School Name"])
school_summary_df=school_data_renamed.groupby(["School Name"]).mean()
school_summary_df

school_summary_2_df = school_data.append(school_summary_df, ignore_index=False)
#school_summary_2_df = school_data.append(school_summary_df)
school_summary_2_df

,School ID,school_name,type,size,budget,Student ID,Reading Score,Math Score,Size,Budget
0,0.0,Huang High School,District,2917.0,1910635.0,NaN,NaN,NaN,NaN,NaN
1,1.0,Figueroa High School,District,2949.0,1884411.0,NaN,NaN,NaN,NaN,NaN
2,2.0,Shelton High School,Charter,1761.0,1056600.0,NaN,NaN,NaN,NaN,NaN
3,3.0,Hernandez High School,District,4635.0,3022020.0,NaN,NaN,NaN,NaN,NaN
4,4.0,Griffin High School,Charter,1468.0,917500.0,NaN,NaN,NaN,NaN,NaN
5,5.0,Wilson High School,Charter,2283.0,1319574.0,NaN,NaN,NaN,NaN,NaN
6,6.0,Cabrera High School,Charter,1858.0,1081356.0,NaN,NaN,NaN,NaN,NaN
7,7.0,Bailey High School,District,4976.0,3124928.0,NaN,NaN,NaN,NaN,NaN
8,8.0,Holden High School,Charter,427.0,248087.0,NaN,NaN,NaN,NaN,NaN
9,9.0,Pena High School,Charter,962.0,585858.0,NaN,NaN,NaN,NaN,NaN
10,10.0,Wright High School,Charter,1800.0,1049400.0,NaN,NaN,NaN,NaN,NaN
11,11.0,Rodriguez High School,District,3999.0,2547363.0,NaN,NaN,NaN,NaN,NaN
12,12.0,Johnson High School,District,4761.0,3094650.0,NaN,NaN,NaN,NaN,NaN
13,13.0,Ford High School,District,2739.0,1763916.0,NaN,NaN,NaN,NaN,NaN
14,14.0,Thomas High School,Charter,1635.0,1043130.0,NaN,NaN,NaN,NaN,NaN
Bailey High School,7.0,NaN,NaN,NaN,NaN,20358.5,81.033963,77.048432,4976.0,3124928.0
Cabrera High School,6.0,NaN,NaN,NaN,NaN,16941.5,83.975780,83.061895,1858.0,1081356.0
Figueroa High School,1.0,NaN,NaN,NaN,NaN,4391.0,81.158020,76.711767,2949.0,1884411.0
Ford High School,13.0,NaN,NaN,NaN,NaN,36165.0,80.746258,77.102592,2739.0,1763916.0
Griffin High School,4.0,NaN,NaN,NaN,NaN,12995.5,83.816757,83.351499,1468.0,917500.0
Hernandez High School,3.0,NaN,NaN,NaN,NaN,9944.0,80.934412,77.289752,4635.0,3022020.0
Holden High School,8.0,NaN,NaN,NaN,NaN,23060.0,83.814988,83.803279,427.0,248087.0
Huang High School,0.0,NaN,NaN,NaN,NaN,1458.0,81.182722,76.629414,2917.0,1910635.0
Johnson High School,12.0,NaN,NaN,NaN,NaN,32415.0,80.966394,77.072464,4761.0,3094650.0
Pena High School,9.0,NaN,NaN,NaN,NaN,23754.5,84.044699,83.839917,962.0,585858.0
Rodriguez High School,11.0,NaN,NaN,NaN,NaN,28035.0,80.744686,76.842711,3999.0,2547363.0
Shelton High School,2.0,NaN,NaN,NaN,NaN,6746.0,83.725724,83.359455,1761.0,1056600.0
Thomas High School,14.0,NaN,NaN,NaN,NaN,38352.0,83.848930,83.418349,1635.0,1043130.0
Wilson High School,5.0,NaN,NaN,NaN,NaN,14871.0,83.989488,83.274201,2283.0,1319574.0
Wright High School,10.0,NaN,NaN,NaN,NaN,25135.5,83.955000,83.682222,1800.0,1049400.0

In [ ]:
#Top Performing Schools (By % Overall Passing)

#Create a table that highlights the top 5 performing schools based on % Overall Passing. Include:

#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)



#new_df=old_df.sort_values(["Sort By"],ascending=False)



#

In [ ]:
#Bottom Performing Schools (By % Overall Passing)

#Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above.

In [ ]:
#Math Scores by Grade**

#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
#Reading Scores by Grade

#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
#Scores by School Spending

#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:

#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)

In [ ]:
#Scores by School Size

#Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

In [ ]:
#Scores by School Type

#Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).