In [2]:
import pandas as pd

In [10]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete_df=pd.DataFrame(school_data_complete)
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
#District Summary

#Create a high level snapshot (in table form) of the district's key metrics, including:

#Total Schools
#Total Students
#Total Budget
#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)

district_only=school_data_complete_df["type"]=="District"
district_only

0         True
1         True
2         True
3         True
4         True
         ...
39165    False
39166    False
39167    False
39168    False
39169    False
Name: type, Length: 39170, dtype: bool

In [3]:
#School Summary

#Create an overview table that summarizes key metrics about each school, including:

#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)

In [4]:
#Top Performing Schools (By % Overall Passing)

#Create a table that highlights the top 5 performing schools based on % Overall Passing. Include:

#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)

In [5]:
#Bottom Performing Schools (By % Overall Passing)

#Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above.

In [6]:
#Math Scores by Grade**

#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [7]:
#Reading Scores by Grade

#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [8]:
#Scores by School Spending

#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:

#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)

In [9]:
#Scores by School Size

#Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

In [10]:
#Scores by School Type

#Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).